.tallOuterContainer {
  position: relative;
  width: 100%;

  .stickyInnerContainer {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;

    .horizontalTranslateContainer {
      position: absolute;
      height: 100%;
      will-change: transform;

      .slideContainer {
        position: relative;
        height: 100%;
        padding: 0 0 0 150px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        .slide {
          width: 500px;
          height: 300px;
          border: 1px solid red;
          margin-right: 50px;
          flex-shrink: 0;
        }
      }
    }
  }
}
