/****************************************

SCROLL JACK

****************************************/
.scroll-jack-section {
	position: relative;
	width: 100%;
	height: 200vh;
	display: block !important;

	.element {
		width: 100px;
		height: 100px;
		position: sticky;
		top: 150px;
		background: red;

		&.right {
			margin-left: -100px;
		}
	}
}
