.parallax-section {
  position: relative;
  width: 100%;
  overflow-x: hidden;

  .accent-layer {
    position: absolute;
    top: 10%;
    width: 300px;
    height: 300px;
    border: 3px solid blue;
    display: block;
    will-change: transform;

    &.left {
      left: 10%;
    }

    &.right {
      right: 10%;
      top: auto;
      bottom: 10%;
    }
  }

  .main-layer {
    opacity: 0;
    transition: opacity 1.5s;
    transition-delay: 1s;
    will-change: opacity;
  }

  &.active {
    .main-layer {
      opacity: 1;
    }
  }
}
