.accordian-item {
  .accordian-header {
    display: flex;
    align-items: center;
    min-height: 30px;
    cursor: pointer;
    border-bottom: 1px solid #000;

    p {
      margin-bottom: 0;
    }

    .accordian-icon {
      min-width: 15px;
      margin-right: 5px;
      display: flex;

      span.open-icon {
        @include showLayer;

        line-height: 1;
        text-align: center;
      }

      span.close-icon {
        @include hideLayer;

        line-height: 1;
        text-align: center;
      }
    }
  }

  .accordian-details {
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    padding: 0 10px;

    transition: all 0.5s;

    p {
      min-height: 100px;
    }
  }

  &.open {
    .accordian-header .accordian-icon {
      span.open-icon {
        @include hideLayer;
      }

      span.close-icon {
        @include showLayer;
      }
    }

    .accordian-details {
      max-height: 500px;
      padding: 20px 10px;
    }
  }
}
