.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s;

  &.active {
    opacity: 1;
    pointer-events: auto;
  }

  .modalContent {
    min-width: 350px;
    max-width: 90%;
    height: auto;
    border: 1px solid #fff;
    color: #fff;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;

    .close {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 24px;
      cursor: pointer;
    }

    h2 {
      text-transform: uppercase;
    }

    .buttons {
      text-transform: uppercase;

      > div {
        cursor: pointer;
      }
    }
  }
}
