/****************************************

HOMEPAGE

****************************************/

.homepage {
	section,
	.section {
		min-height: 100vh;
		border: 1px solid red;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.demo-animation {
		.cont {
			opacity: 0;
			transition: opacity 0.5s;
		}

		&.active {
			.cont {
				opacity: 1;
			}
		}
	}
}
