/****************************************

HEADER

****************************************/

header {
	width: 100%;
	background: color(white);
	border: 1px solid #000;

	&.sticky {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 9;
	}

	.topbar {
		width: 100%;
		display: flex;
		border: 1px solid #000;

		ul {
			display: flex;

			li {
				&:not(:last-of-type) {
					margin-right: $gap;
				}
			}
		}
	}

	.main-header {
		.logo {
			border: 1px solid #000;
			width: 200px;
			height: 75px;
			transition: all $transitionDur;

			img {
				width: 100%;
				height: auto;
			}
		}

		.cont {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}

	&.scroll {
		.main-header .logo {
			width: 150px;
			height: 50px;
		}
	}
}
