/****************************************

NAV

****************************************/

nav {
	.mobile-toggle {
		display: none;
	}

	ul {
		display: flex;

		li {
			&:not(:last-of-type) {
				margin-right: $gap;
			}

			a {
				padding: 10px 20px;
				border: 1px solid #000;
				color: color(black);
				transition: color $transitionDur;

				&:hover {
					color: color(accent);
				}
			}
		}
	}
}
