/****************************************

GLOBAL SETTINGS

****************************************/

html,
body {
	font-family: $bodyFont;
	font-size: 10px;
}

body {
	// sticky nav
	padding-top: $navHeightDesktop;
}

main {
	min-height: 800px;
	width: 100%;
	@include p-font-styles();
}
