/****************************************

SASS HELPERS

****************************************/

// Color Lookup Function
@function color($color, $tone: "base") {
	@return map-get(map-get($colors, $color), $tone);
}

// Fontsize Lookup Function
@function fontsize($size) {
	@return map-get($fontSizes, $size);
}

// Breakpoint Lookup Function
@function bp($break) {
	@return map-get($breakPoints, $break);
}
