/******************************************

TYPOGRAPHY

******************************************/

/****************** H1 *******************/
@mixin h1-font-styles {
	font-size: 6rem;
	line-height: 1;
	font-weight: 500;
	font-family: $headlineFont;

	@media (max-width: bp(sm)) {
		font-size: 4rem;
		line-height: 1;
	}
}

h1,
.title1 {
	@include h1-font-styles();
}

/****************** H2 *******************/
@mixin h2-font-styles {
	font-size: 5rem;
	line-height: 1;
	font-weight: 500;
	font-family: $headlineFont;

	@media (max-width: bp(sm)) {
		font-size: 3rem;
		line-height: 1;
	}
}

h2,
.title2 {
	@include h2-font-styles();
}

/****************** H3 *******************/
@mixin h3-font-styles {
	font-size: 4rem;
	font-weight: 500;
	line-height: 1.2;
	font-family: $headlineFont;

	@media (max-width: bp(tablet)) {
	}

	@media (max-width: bp(sm)) {
		font-size: 2.4rem;
		line-height: 1.2;
	}
}

h3,
.title3 {
	@include h3-font-styles();
}

/****************** H4 *******************/
@mixin h4-font-styles {
	font-size: 3rem;
	line-height: 1;
	font-weight: 100;

	@media (max-width: bp(tablet)) {
	}

	@media (max-width: bp(sm)) {
	}
}

h4,
.title4 {
	@include h4-font-styles();
}

/****************** H5 *******************/
@mixin h5-font-styles {
	font-size: 2rem;
	font-weight: 100;
	line-height: 1;

	@media (max-width: bp(tablet)) {
	}

	@media (max-width: bp(sm)) {
	}
}

h5,
.title5 {
	@include h5-font-styles();
}

/****************** Paragraph *******************/
@mixin p-font-styles {
	font-weight: 400;
	font-size: 1.8rem;
	line-height: 1.2;

	@media (max-width: bp(sm)) {
		font-size: 1.6rem;
	}

	sup {
		vertical-align: baseline;
		position: relative;
		top: -0.4em;
	}

	strong {
		font-weight: 600;
	}

	&.disclaimer {
		font-size: 1.4rem;
		line-height: 1;
	}

	&.eyebrow {
		font-size: 1.2rem;
		line-height: 1;
	}

	a {
		color: color(black);
		text-decoration: underline;
	}
}

p,
ul,
ol {
	@include p-font-styles();
}

/****************** LISTS *******************/
@mixin bullets {
	position: relative;

	li {
		position: relative;
		padding: 0 0 0 20px;

		&:before {
			content: "";
			position: absolute;
			width: 5px;
			height: 5px;
			border-radius: 50%;
			background-color: color(black);
			top: 0.5em;
			left: 0;
		}
	}
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		margin: 0;
		padding: 0;
	}

	&.bullets {
		@include bullets;
	}
}
