/****************************************

VARIABLES

****************************************/
@import "./_nl-functions";

// fonts
$headlineFont: "Helvetica Neue", Helvetica, Arial, sans-serif;
$bodyFont: "Helvetica Neue", Helvetica, Arial, sans-serif;

// font sizes - LEGACY
$fontSizes: (
	h1: 4.8rem,
	h2: 2.8rem,
	h2large: 4.4rem,
	h3: 2.4rem,
	p: 1.6rem,
	disclaimer: 1.2rem,
	nav: 1rem,
);

// Sticky Nav
$navHeightDesktop: 100px;

// Spacing
$paddingMain: 6.4rem;
$sectionSpace: 30px;
$paddingMainMobile: 3.2rem;
$gap: 10px;

// Animations
$transitionDur: 0.5s;

// break points
$breakPoints: (
	xs: 400px,
	sm: 768px,
	nav: 960px,
	tablet: 1024px,
	sm-desktop: 1200px,
	lg-desktop: 1400px,
);

// grid
$container: 1160px;

// colors
$colors: (
	white: (
		base: #fff,
		transparent: rgba(255, 255, 255, 0.75),
	),
	black: (
		base: #000,
	),
	grey: (
		base: #ececec,
	),
	accent: (
		base: blue,
		darkBlue: #153869,
		grey: #7d7d7d,
	),
);
