/****************************************

BUTTONS

****************************************/

@mixin btnStyle {
	padding: 10px 20px;
	border-radius: 0;
	font-size: 2rem;
	line-height: 1;
	background-color: color(accent);
	font-family: $headlineFont;
	color: color(white);
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	margin: 0;
	display: table;

	@media (max-width: bp(sm)) {
		font-size: 1.8rem;
	}

	&:hover {
	}
}

@mixin btnStyle-center {
	margin: 0 auto !important;
}

.btn {
	@include btnStyle;

	&.secondary {
		background: color(black);
		color: color(accent);

		&:hover {
		}
	}
}
