/****************************************

SWIPER

****************************************/

.swiper-cont {
	position: relative;

	.swiper-wrapper {
		align-items: stretch;
	}

	.swiper-slide {
		position: relative;
		min-height: 500px;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid #000;
	}

	.swiper-pagination {
		position: absolute;
		width: 90%;
		height: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
		bottom: 10px;
		left: 5%;
		z-index: 999;
		top: auto;
		transition: opacity 0.5s;

		.swiper-pagination-bullet {
			width: 10px;
			height: 10px;
			border: 1px solid #000;
			background-color: #fff;
			margin: 0 8px;
			opacity: 1;

			&-active {
				background-color: #000;
			}
		}
	}

	.swiper-button-prev,
	.swiper-button-next {
		width: 100px;
		height: 45px;
		position: absolute;
		display: flex;
		align-items: center;
		border: 1px solid #000;
		color: #000;
		justify-content: center;
		top: calc((100% - 30px) / 2);
		left: 0;
		z-index: 99;
		cursor: pointer;

		&:after {
			display: none;
		}

		&:before {
			content: "Last";
			display: block;
			text-transform: uppercase;
		}
	}
	.swiper-button-next {
		left: auto;
		right: 0;

		&:before {
			content: "Next";
		}
	}
}
