/****************************************

VIDEO BG

basic structure: 
<div class="video-bg">
  <video
    playsinline
    autoplay
    loop
    muted
    poster="poster.jpg"
    class="video-inline"
  >
    <source src="video.mp4" type="video/mp4" />
    <source src="video.webm" type="video/webm" />
  </video>
</div>

****************************************/

.video-bg {
  overflow: hidden;
  width: 100vw;
  height: 100vh;

  video {
    position: relative;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 1;
    overflow: hidden;
  }
}
