.verticalSections {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  scroll-snap-type: y mandatory;

  > div section {
    scroll-snap-align: start;
  }

  .indicator {
    width: 100px;
    height: 100px;
    position: fixed;
    top: calc(50vh - 50px);
    right: 0;
    z-index: 9;
  }
}
