// global:
@import "global/_variables";
@import "global/_typography";
@import "global/_nl-structure";
@import "global/_global";

// dev:
@import "global/_debug";

// sections:
@import "sections/_header";
@import "sections/_nav";
@import "sections/_footer";

// global components:
@import "components/lock-scroll/_vertical-sections";
@import "components/subcomponents/_accordian-section";
@import "components/scroll-jack/_horizontal-scroll";
@import "components/scroll-jack/_scroll-jack-section";
@import "components/subcomponents/_modal";
@import "components/parallax/_parallax-section";
@import "components/_swiper";
@import "components/_buttons";

//@import "components/_tab-section";
//@import "components/_video-bg";

// pages:
@import "pages/_home";
